/* --------Tablet----------- */

@media (max-width:768px){
    body{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 3fr 3fr 1fr;
    }

    .header>h1, .left>h2, .main>h2, .right>h2, .footer>h2{
        font-size: 30px;
    }
    
    .main{
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }
    
    .footer{
        grid-column: 1 / -1;
    }

    .left{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .right{
        grid-row: 3 / 4;
        grid-column: 2 / -1;
    }

}
/* --------Mobile---------- */
@media(max-width: 451px){
    body{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    .header>h1, .left>h2, .main>h2, .right>h2, .footer>h2{
        font-size: 40px;
    }
    
    .main{
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }
    
    .left{
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }
    .right{
        grid-row: 4 / 5;
        grid-column: 1 / -1;
    }
    .footer{
        grid-row: 5 / 6;
        grid-column: 1 / -1;
    }
}


